.create-box {
  background: white;
  padding: 25px;
  width: 750px;
  margin: 40px auto 20px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.create-box h2 {
  margin-top: 0;
  margin-bottom: 15px;
}

.create-box label {
  display: block;
  margin-top: 10px;
  font-weight: 500;
}
