.main-wrapper {
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.column-box {
  width: calc(70% / 2);
  padding: 25px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.column-box-header {
  display: flex;
  justify-content: space-between;
}

.column-box h2 {
  font-size: 20px;
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 2px solid #ddd;
  border-radius: 6px;
  font-size: 16px;
}

input:focus {
  border-color: #007bff;
  outline: none;
}

.button {
  padding: 12px;
  width: 30%;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  background: #007bff;
  color: white;
  align-self: flex-end;
  transition: background 0.2s ease;
  cursor: pointer;
}

.button.delete-user {
  background: #d9534f;
}
