.main-wrapper {
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.column-box {
  width: calc(70% / 2);
  padding: 25px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.column-box-header {
  display: flex;
  justify-content: space-between;
}

.column-box h2 {
  font-size: 20px;
}
