/* @import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;1,300&display=swap"); */
@import "tailwindcss";

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
}

body {
  background: #f5f5f5;
  font-family: system-ui, sans-serif;
}

.box {
  max-width: 600px;
  background: white;
  padding: 25px;
  margin: 30px auto 0;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.box h2 {
  font-size: 20px;
  font-weight: 700;
}

.box-lg {
  max-width: 1200px;
}

input,
textarea {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 2px solid #ddd;
  border-radius: 6px;
  font-size: 16px;
}

input:focus {
  border-color: #007bff;
  outline: none;
}

.button {
  padding: 10px 25px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  background: #007bff;
  color: white;
  transition: background 0.2s ease;
  cursor: pointer;
  text-decoration: none;
}

.button-sm {
  padding: 0.3rem 0.6rem;
  font-size: 0.85rem;
}

.button:disabled {
  background-color: #9bb8d9;
  cursor: not-allowed;
}

.button:hover:not(:disabled) {
  background-color: #12589b;
}

.button.delete-user {
  background-color: #d9534f;
}

.button.delete-user:hover {
  background-color: #a82020;
}
